/* Background color animation */
@keyframes backgroundFade {
    0% {
        background-color: #F2FCE2; /* Initial color */
    }
    50% {
        background-color: #EAFBFC; /* Transition color */
    }
    100% {
        background-color: #F2FCE2; /* Final color */
    }
}

.fade-background {
    animation: backgroundFade 10s infinite;
}

/* Fade-in-out effect */
@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.fade-in-out {
    animation: fadeInOut 10s infinite;
}

/* Floating effect for the image */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}

/* Responsive styling */
@media (max-width: 768px) {
    .fade-background {
        animation: backgroundFade 7s infinite;
    }
    .h1 {
        font-size: 2rem;
    }
    .p {
        font-size: 1rem;
    }
}
